.container{
  margin: auto;
}

#b2g1 {
  padding-top: 1.6em;
  padding-left: 0.5em;
  float: left;
}
#freerental {
  float: right;
  padding-top: 4.2em;
  padding-right: 0.5em;
}
main #deal1 {
  padding-top: 0.3em;
  padding-left: 7.8em;
  padding-bottom: 0.3em;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.10);
}
main #deal2 {
  margin-top: 0.5em;
  padding-top: 0.3em;
  padding-left: 1.1em;
  padding-bottom: 0.3em;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.10);
}
main #deal1p {
  padding-left: 14.2em;
  background: rgba(0, 0, 0, 0.10);
  padding-bottom: 2.6em;
  font-size: 22px;
}
main #deal2p {
  padding-left: 2em;
  padding-bottom: 2em;
  background: rgba(0, 0, 0, 0.10);
  font-size: 22px;
}
.fineprintL {
  font-size: 11px;
  padding-left: 28.5em;
  margin-top: -3em;
  margin-bottom: 1em;
}
.fineprintR {
  font-size: 11px;
  margin-top: -2.5em;
  padding-left: 4em;
}

.column {
  float: left;
  width: 22.5%;
  padding: 10px;
  z-index: 1;
  position: relative;
}
.column img {
  opacity: 100;
  cursor: pointer;
  border-radius: 10px;
}
.column img:hover {
  opacity: 100;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.plancolumn {
  float: right;
  width: 73%;
}
.plancolumn h1 {
  text-align: center;
  text-shadow: 2px 2px 8px #F06568;
  font-size: 45px;
}
.planrow {
  border-left: 10px solid #F06568;
  background:rgba(240, 102, 104, 0.33);
  margin:1em;
  padding: 1.2em;
}
.fineprints {
  font-size: 11px;
  padding-left: 12.5em;
  margin-top: -3em;
  margin-bottom: 1em;
}


.square {
  max-width:80%;
  max-height:80%;
}
