<head>
    <meta charset="utf-8">
    <title> Bookworm </title>
    <link rel="icon" href="logo.ico">
    <link rel="stylesheet" href="cartstyle.css">
    <link rel="stylesheet" href="signupstyle.css">
    <link rel="stylesheet" href="headerstyle.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
</head>

<body>
    <header>
        <img th:src=@{/images/logo.png} alt="Bookworm Logo" id="biglogo">
        <a th:href="@{/cart}"><img th:src=@{/images/shopping_bag.png} alt="shopping bag" id="shopping_bag"
                width="32"></a>
        <form action="searchresults.html" method="post">
            <input type="text" placeholder="Search for a Book.." id="search_bar" name="booksearch">
            <input type="image" th:src=@{/images/search.png} alt="search glass" width="35" id="search">
        </form>
    </header>

    <aside id="menu">
        <ul class="one">
            <li><a th:href="@{/main}">Home</a></li>
            <li><a th:href="@{/main}">Books</a>
                <ul class="two">
                    <li><a th:href="@{/booksbygenre}">Books by Genre</a></li>
                    <li><a th:href="@{/boooksbyauthor}">Books by Author</a></li>
                    <li><a th:href="@{/booksbyisbn}">Books by ISBN</a></li>
                    <li><a th:href="@{/booksbytitlea}">Books by Title</a></li>
                </ul>
            </li>
            <li><a href="#">More</a>
                <ul class="two">
                    <li><a a th:href="@{/freqquestion}">FAQs</a></li>
                </ul>
            </li>
            <li><a th:href="@{/main}">My Account</a>
                <ul class="two">
                    <li><a th:href="@{/myaccount}"> Login/Signup</a></li>
                    <li><a th:href="@{/editaccount}"> Edit My Account</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</body>
<main>
    <h1 class="leftheader">Shopping Bag: </h>
        <h3>Order Details</h3>
        <div>
            <th:if>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Price</th>
                            <th>Genre</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="books, iStat : ${currentUser.getCart().getBookList()}">
                            <td th:text="${books.title}">Title</td>
                            <td th:text="${books.author}">Author</td>
                            <td th:text="${books.price}">Price</td>
                            <td th:text="${books.Genre}">Genre</td>
                            <td>
                                <form th:action="@{/rmCartItem}" method="post">
                                    <input id="removefromcart" type="submit"  value="Remove">
                                    <input type="hidden" name="cartItemIndex" th:value="${iStat.index}">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

		    <span><b>Total Price:</b> $ [[${currentUser.getCart().getTotalPrice()}]]</span>
	        <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
	        	<form name="payment_form"  th:action="payment"  method="post">
	        	<fieldset id="processinfo">
				    <legend>Make Payment</legend>
				    <input type="submit" value="Checkout" id="submit">
				    <input type="reset" value="Cancel" id="button">
				</fieldset>
				</form>
	        </div>

	        <div sec:authorize="hasAnyRole('ROLE_USER_ACTIVE', 'ROLE_USER_INACTIVE')">
		        <h3>Payment</h3>
		            <fieldset id="paymentinfo">
		                <form name="CardsOnFile" th:action="@{/cart}"  method="post">
			                <legend>Cards on File</legend>
	                             <input type="submit" name="cardNum" value="Card1" id="submit" >
	                             <input type="submit" name="cardNum" value="Card2" id="submit" >
	                             <input type="submit" name="cardNum" value="Card3" id="submit" >
	                    </form>
                   </fieldset>
	                <legend>Your Payment and Shipping Details.</legend>
			            <form name="payment_form" th:object="${currentUser}" th:action="@{/payment}" method="post">
				            <fieldset id="paymentinfo">
				            	    <h class="text=danger" th:if="${error != null}"> <b>[[${error}]]</b> <br></h>
					                <br>
						            <label for="fnamecard">Name on Card: </label>
						            <input type="text" id="fnamecard" name="fnamecard" th:field="*{payment1.nameOnCard}" required>
						            <span id="error8">*</span><br>
						            <label for="cardChoice">Card Type: </label>
						            <input type="text" name="cardChoice" id="cardChoice" th:field="*{payment1.cardTypeStr}" required>
						            <span id="error10">*</span><br>
						            <label for="cardnum">Card Number: </label>
						            <input type="text" id="cardnum" name="cardnum" th:field="*{payment1.cardNumberStr}" maxlength="16" required>
						            <span id="error11">*</span><br>
						            <label for="expiremonth">Expiration Month: (MM)</label>
						            <input type="number" min="1" max="12" id="expiremonth" name="expiremonth" th:field="*{payment1.expirationMonth}"
						                required>
						            <span id="error12">*</span><br>
						            <label for="expireyear">Expiration Year: (YYYY)</label>
						            <input type="number" min="2021" max="2100" id="expireyear" name="expireyear"
						               required th:field="*{payment1.expirationYear}">
						            <span id="error13">*</span><br>
						            <label for="line1card"> Billing Address: </label>
			                        <input type="text" id="line1card" name="line1card" th:field="*{billingAddress1}" required><br>
			           			    <label for="line2card"> </label>
			            			<input type="text" id="line2card" name="line2card" th:field="*{billingAddress2}" required><br>
			            			<label for="citycard"> Billing City: </label>
			            			<input type="text" id="citycard" name="citycard" th:field="*{billingCity}" required><br>
			            			<label for="state"> Billing State: </label>
			            			<input type="text" id="state" name="state"  th:field="*{billingState}" required><br>
			            			<label for="zip"> Billing Zip Code: </label>
			            			<input type="text" id="billzip" name="billzip"  th:field="*{billingZipCode}"
			            			   required><br>
					                <input type="text" placeholder="Enter Promo Code" id="promo" name="promo"  maxlength="6">
					                <br>
					                <a id="temp" th:href="@{/updateshipping}">Change Shipping Address</a>
					                <br>
					                <a id="temp" th:href="@{/updatepayment}">Change Payment Info</a>
					                <br>
					                <a id="temp" th:href="@{/orderHistory}">Order History</a>
					       </fieldset>
				<fieldset id="processinfo">
				    <legend>Make Payment</legend>
				    <input type="submit" value="Checkout" id="submit">
				    <input type="reset" value="Cancel" id="button">
				</fieldset>
				  </form>
           </div>
    </main>

<footer>
    <a th:href="@{/myaccount}">My Account</a>
    <a th:href="@{/freqquestion}">FAQ</a>
</footer>
