
<head>
    <meta charset="utf-8">
    <title> Bookworm </title>
    <link rel="icon" href="logo.ico">
    <link rel="stylesheet" href="headerstyle.css">
    <link rel="stylesheet" href="editaccountstyle.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
</head>

<body>
<header>
        <img th:src=@{/images/logo.png} alt="Bookworm Logo" id="biglogo">
        <a th:href="@{/cart}"><img th:src=@{/images/shopping_bag.png} alt="shopping bag" id="shopping_bag" width="32"></a>
        <form action="searchresults.html" method="post">
        <input type="text" placeholder="Search for a Book.." id="search_bar"  name="booksearch">
        <input type="image" th:src=@{/images/search.png} alt="search glass" width="35" id="search">
    </form>
</header>

<aside id="menu">
    <ul class="one">
      <li><a th:href="@{/main}">Home</a></li>
        <li><a th:href="@{/main}">Books</a>
           <ul class="two">
               <li><a th:href="@{/booksbygenre}">Books by Genre</a></li>
               <li><a th:href="@{/boooksbyauthor}">Books by Author</a></li>
               <li><a th:href="@{/booksbyisbn}">Books by ISBN</a></li>
              <li><a th:href="@{/booksbytitlea}">Books by Title</a></li>
           </ul>
       </li>
       <li><a href="#">More</a>
           <ul class="two">
               <li><a a th:href="@{/freqquestion}">FAQs</a></li>
           </ul>
       </li>
       <li><a th:href="@{/main}">My Account</a>
           <ul class="two"> 
               <li><a th:href="@{/myaccount}"> Login/Signup</a></li>
               <li><a th:href="@{/editaccount}"> Edit My Account</a></li>
           </ul>
      </li>
   </ul>
</aside>
<main>
        <a th:href="@{/updatepersonal}">
        <div class="questionboxes">
            <h2>Edit Personal Information</h2>
            <p>Click here to edit your personal information.</p>
        </div>
        </a>
	    <div sec:authorize="hasAnyRole('ROLE_USER_ACTIVE', 'ROLE_USER_INACTIVE')">
	        <a th:href="@{/updateshipping}">
	        <div class="questionboxes" >
	            <h2>Edit Shipping Address Information</h2>
	            <p>Click here to edit your shipping address information.
	            </p>
	        </div>
	        </a>
        </div>
        <div sec:authorize="hasAnyRole('ROLE_USER_ACTIVE', 'ROLE_USER_INACTIVE')">
	        <a th:href="@{/updatepayment}">
	        <div class="questionboxes">
	            <h2>Edit Payment Card Information </h2>
	            <p>Click here to edit your payment card information.
	            </p>
	        </div>  
            </a>
        </div>
        <a th:href="@{/updatepassword}">
        <div class="questionboxes">
            <h2>Change Password</h2></h2>
            <p>Click here to edit your password information.
            </p>
        </div>
        </a>
        <div sec:authorize="hasAnyRole('ROLE_USER_ACTIVE', 'ROLE_USER_INACTIVE')">
	        <a th:href="@{/orderhistory}">
	        <div class="questionboxes"> 
	            <h2>Order History</h2>
	            <p>Click here to go to your order history.</p>
	        </div>
	        </a>
        </div>
        <a th:href="@{/logout}">
        <div class="questionboxes">
            <h2>Logout</h2></h2>
            <p>Click here to logout.
            </p>
        </div>
        </a>
        <div id="moreinfobox"> 
            <h2>Have any more questions?</h2>
            <p>Contact us by email or by phone 24/7 and we are happy to help!</p>
        </div>
    </main>

    <footer>
        <a th:href="@{/myaccount}">My Account</a>
        <a th:href="@{/freqquestion}">FAQ</a>
        </footer>
    </body>
