  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>All user</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="defaultstyle.css">
    <link rel="stylesheet" href="headerstyle.css">
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>   
</head>
<header>
        <img th:src="@{/images/logo.png}" alt="Bookworm Logo" id="biglogo">
  
</header>

<aside id="menu">
    <ul class="one">
      <li><a th:href="@{/main}">Home</a></li>
        <li><a th:href="@{/main}">Books</a>
           <ul class="two">
               <li><a th:href="@{/booksbygenre}">Books by Genre</a></li>
               <li><a th:href="@{/boooksbyauthor}">Books by Author</a></li>
               <li><a th:href="@{/booksbyisbn}">Books by ISBN</a></li>
              <li><a th:href="@{/booksbytitlea}">Books by Title</a></li>
           </ul>
       </li>
       <li><a href="#">More</a>
           <ul class="two">
               <li><a a th:href="@{/freqquestion}">FAQs</a></li>
           </ul>
       </li>
       <li><a th:href="@{/main}">My Account</a>
           <ul class="two"> 
               <li><a th:href="@{/myaccount}"> Login/Signup</a></li>
               <li><a th:href="@{/editaccount}"> Edit My Account</a></li>
           </ul>
      </li>
   </ul>
</aside>

<body>
	<div class="container text-center">
		<div>
        	    <form th:action="@{/addbook}" method ="post">
        	       <p>
        	            Welcome 
        	        </p>
        	       <input type ="submit" value="Add boks" />
        	    </form>
        </div>
        
        <div>
         <table class="table table-striped table-bordered">
             <thead class="thead-dark">
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Genre</th>
                    <th>Image</th>

                </tr>
                </thead>
                <tbody>
                
                     <tr th:each="books: ${listBooks}">

                      <td th:text="${books.id}">User ID</td>
                      <td th:text="${books.title}">Email</td>
                      <td th:text="${books.author}">first name</td>
                      <td th:text="${books.price}">Price</td>
                      <td th:text="${books.Genre}">Genre</td>
                      <td><img th:src="@{/images/bookCovers/{image}.png(image=${books.id})}" class="square"></td>

                 </tr>
                 </tbody>
         </table>
      </div>   
</body>
</html>